body {
    padding: 5px;
}

.hide-ads {
    width: 150px;
    text-align: center;
    border: none;
    padding: 3px 0;
    cursor: pointer;
}

.hide-ads:after {
    content: 'hide ads';
}

.hide-ads.active {
    background: #7d7d7d;
    color: #fff;
}

.hide-ads.active:after {
    content: 'show ads';

}