body {
    padding: 5px;
}

.hide-ads {
    width: 150px;
    text-align: center;
    border: none;
    padding: 3px 0;
    cursor: pointer;
}

.hide-ads.youtube-ads.active {
    background: #7d7d7d;
    color: #fff;
}

.hide-ads.adsense-ads.active {
    background: #7d7d7d;
    color: #fff;
}

.hide-ads.adwords-ads.active {
    background: #7d7d7d;
    color: #fff;
}

.toggle-button
{
    display:none;
}

.toggle-button + label span
{
    text-align:center;
    padding:0.25em 1em;
    cursor: pointer;
}

.toggle-button + label span.off
{
    background:#c00;
    color:#fff;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.toggle-button + label span.on
{
    background:#999;
    color:#666;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.toggle-button:checked + label span.off
{
    background:#999;
    color:#666;
}

.toggle-button:checked + label span.on
{
    background:#0c0;
    color:#fff;
}
